/*
 *
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 */

@namespace "library://ns.apache.org/royale/simple";

.Application *, .royale *, . royale *:before, . royale *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.unselectable
{
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}


/* Global Style Declaration */
global
{
	effectTimerInterval: 10;
}

/* -------------------------------------------------------------------
 *
 * Component Styles
 *
 *  ------------------------------------------------------------------- */
 
/* ------------------------------------
 * Application
 * ------------------------------------ */

Application
{
	min-width: 200px;
	min-height: 200px;
	background-color: #FFFFFF;
}
 
/* ------------------------------------
 * Button
 * ------------------------------------ */

Button
{
	IBeadController: ClassReference("org.apache.royale.simple.controls.controllers.ButtonMouseController");
}
 
/* ------------------------------------
 * ButtonBar
 * ------------------------------------ */

ButtonBar
{
	IBeadLayout: ClassReference("org.apache.royale.simple.containers.layouts.FlexLayout");
	padding-top: 0px;
	padding-bottom: 0px;
	flex-wrap: nowrap;
}
 
/* ------------------------------------
 * CheckBox
 * ------------------------------------ */
 
CheckBox
{
	IBeadController: ClassReference("org.apache.royale.simple.controls.controllers.CheckBoxMouseController");
}

.CheckBoxLabel 
{
	margin-left: 4px;
}
 
/* ------------------------------------
 * DataList
 * ------------------------------------ */

DataList
{
	border: 0.5px solid black;
}
 
.DataList > .DataItemRenderer 
{
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: left;
	cursor: pointer;
}
 
/* ------------------------------------
 * DataTable
 * ------------------------------------ */

DataTable
{
	font-family: Arial;
	font-size: 14px;
	cursor: pointer;
	display: inline-table;
}
 
/* ------------------------------------
 * DateChooser
 * ------------------------------------ */
DateChooser
{
	IBeadController: ClassReference("org.apache.royale.simple.controls.controllers.DateChooserMouseController");
	min-width: 130px;
	min-height: 190px;
}

DateChooser .headerArea .TextBlock
{
	flex-grow: 1;
	line-height: 27px;
	text-align: center;
}

DateChooser .headerArea .Button
{
	width: 24px;
	height: 24px;
	padding: 0px;
}

DateChooser .weekday
{
	flex-grow: 1;
	min-width: 16px;
	min-height: 16px;
	line-height: 16px;
	text-align: center;
	cursor: pointer;
}

DateChooser .contentArea
{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	grid-auto-rows: 20%;
}

DateChooser .date
{
	min-width: 16px;
	min-height: 20px;
	max-height: 20px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}
 
/* ------------------------------------
 * DateField
 * ------------------------------------ */
 
DateField
{
	width: 114px;
	height: 20px;
	padding: 0px;
}
 
DateField .dateField_input
{
	display: inline;
	margin: 0px 0px 1px 2px;
	padding: 0;
	width: 90px;
	height: 17px;
	
	/* for now, do not accept input since it cannot be parsed or used to set the control */
	pointer-events: none;
}

DateField .dateField_button
{
	display: inline;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 18px;
	float: right;
}

.dateField_chooser
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 190px;
}
 
/* ------------------------------------
 * FlexBox
 * ------------------------------------ */

FlexBox 
{
	IBeadLayout: ClassReference("org.apache.royale.simple.containers.layouts.FlexLayout");
}
 
/* ------------------------------------
 * GraphicShape (SVG)
 * ------------------------------------ */
 
.GraphicShape
{
	overflow: visible; /* allows strokes to overflow the bounding box */
}
 
/* ------------------------------------
 * HBox
 * ------------------------------------ */

HBox 
{
	IBeadLayout: ClassReference("org.apache.royale.simple.containers.layouts.HorizontalLayout");
}
 
/* ------------------------------------
 * HDividedBox
 * ------------------------------------ */

HDividedBox
{
	IBeadLayout: ClassReference("org.apache.royale.simple.containers.layouts.HorizontalLayout");
}

HDividedBox > *
{
	vertical-align: top;
}

.HDividedBar
{
	display: inline-grid;
	height: 100%;
	margin-left: 6px;
	margin-right: 6px;
	cursor: col-resize;
	stroke: black;
	width: 2;
}

.HDividedBar_gripper {
	margin: auto 0;
}
 
/* ------------------------------------
 * HRule
 * ------------------------------------ */
 
HRule
{
	min-height: 1px;
	max-height: 2px;
}
 
/* ------------------------------------
 * Label
 * ------------------------------------ */

Label
{
	font-family: Arial;
}
 
/* ------------------------------------
 * NumericStepper
 * ------------------------------------ */

NumericStepper 
{
	background-color: transparent;
	width: 8em; /* reasonable default width */
}
 
/* ------------------------------------
 * Panel
 * ------------------------------------ */
 
Panel
{
	IBeadLayout: ClassReference("org.apache.royale.simple.containers.layouts.FlexLayout");
}

.panel_titleBar
{
	flex-grow: 0;
}
 
.panel_contentArea
{
	flex-grow: 1;
	display: block;
}

/* ------------------------------------
 * RadioButton
 * ------------------------------------ */
 
RadioButton
{
	IBeadController: ClassReference("org.apache.royale.simple.controls.controllers.RadioButtonMouseController");
}

.RadioButtonLabel 
{
	margin-left: 4px;
}
 
/* ------------------------------------
 * TextBlock
 * ------------------------------------ */

TextBlock
{
	font-family: Arial;
	font-size: 12px;
}
 
/* ------------------------------------
 * TitleBar
 * ------------------------------------ */
 
TitleBar 
{
	IBeadLayout: ClassReference("org.apache.royale.simple.containers.layouts.FlexLayout");
}

.titleBar_title
{
	flex-grow: 1;
}

.titleBar_leftItem
{
	flex-grow: 0;
}

.titleBar_rightItem
{
	flex-grow: 0;
}
 
/* ------------------------------------
 * ToggleButton
 * ------------------------------------ */
 
ToggleButton
{
	IBeadController: ClassReference("org.apache.royale.simple.controls.controllers.ToggleButtonMouseController");
	padding: 2px;
	border: 1px solid gray;
	cursor: pointer;
}
 
/* ------------------------------------
 * ToggleButtonBar
 * ------------------------------------ */

ToggleButtonBar
{
	IBeadLayout: ClassReference("org.apache.royale.simple.containers.layouts.FlexLayout");
	padding-top: 0px;
	padding-bottom: 0px;
	flex-wrap: nowrap;
}
 
/* ------------------------------------
 * VBox
 * ------------------------------------ */

VBox 
{
	IBeadLayout: ClassReference("org.apache.royale.simple.containers.layouts.VerticalLayout");
}
 
/* ------------------------------------
 * VDividedBox
 * ------------------------------------ */
 
VDividedBox
{	
	IBeadLayout: ClassReference("org.apache.royale.simple.containers.layouts.VerticalLayout");
}
 
.VDividedBar
{
	display: block;
	margin-top: 6px;
	margin-bottom: 6px;
	cursor: row-resize;
	stroke: black;
	width: 2;
}

.VDividedBar_gripper {
	width: 10%;
	height: 10px;
	margin: 0 auto;
	display: block;
}
 
/* ------------------------------------
 * VRule
 * ------------------------------------ */
 
VRule
{
	min-width: 1px;
	max-width: 2px;
}


/* -------------------------------------------------------------------
 *
 * Layout Styles
 *
 *  ------------------------------------------------------------------- */
 
/* ------------------------------------
 * AbsoluteLayout
 * ------------------------------------ */
 
.AbsoluteLayout
{
	position: relative;
}

.AbsoluteLayout > * 
{
	position: absolute;
}
 
/* ------------------------------------
 * ButtonBarLayout
 * ------------------------------------ */

.ButtonBar > * 
{
	flex-grow: 1;
	margin: 0;
}
 
/* ------------------------------------
 * HorizontalLayout
 * ------------------------------------ */

.HorizontalLayout
{
	/*padding-top: 8px;
	padding-bottom: 8px;*/
}
 
/* ------------------------------------
 * VerticalLayout
 * ------------------------------------ */

.VerticalLayout
{
	/*padding-left: 8px;
	padding-right: 8px;*/
}


/* -------------------------------------------------------------------
 *
 * Extras
 *
 *  ------------------------------------------------------------------- */
 
.PopUp
{
	z-index: 9999;
}
 
/* ------------------------------------
 * Event Shield
 * ------------------------------------ */

.PopUpEventShield
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}


/* -------------------------------------------------------------------
 *
 * SWF Media Query
 *
 *  ------------------------------------------------------------------- */

@media -royale-swf
{
	/* Global style declaration for Flash only.  This will effectively be the same
	   as the browser defaults */
	global
	{
		font-size: 16px;
		border-width: 4px;
	}
}
